.alert-margin-top{
  margin-top: 20px;
}
.margin-right-10{
  margin-right: 10px;
}
#wrapper{
  .header_logo_wrp{
    float: left;
  }
  .header_logo{
    width: 120px;
  }
  //padding: 10px;
  .header_nav_wrp{
    float: right;
    padding-top: 7px;
    padding-right: 5px;
  }
  ul.header_nav{
    list-style: none;
    li{
      float: left;
      margin-right: 10px;
    }
    li:after{
      padding-left: 10px;
      content: "｜";
    }
    li:last-child:after{
      content: "";
    }
  }
  .panel{
    //margin: 10%;
    max-width: 500px;
    margin: 20px auto;
  }
  .page-header{
    margin: 0;
    padding: 10px;
  }
  .content_wrp{
    padding: 10px;
    ul.submenu_list_wrp{
      padding: 10px;
      li:after{
        padding-left: 10px;
        content: "｜";
      }
      li:last-child:after{
        content: "";
      }
    }
  }
  label{
    &.btn-lg{
      display: block;
      padding: 8px 16px;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 1.20;
      border-radius: 6px;
      text-align: left;
      letter-spacing: 0.1em;
    }
  }
  #action_footer{
    border-top: 1px solid #ccc;
    padding: 10px;
  }
}
